<!DOCTYPE html>
<!-- TODO find a way to make a dynamic navigation menu easily -->
<!-- TODO find a way to make generic forms easily (save content, errors) -->
<!-- TODO generic css -->
<html lang="en">
<head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<nav>
		<table>
			<ul>
				{% for name, url in navigation_menu.iteritems() %}
				<li><a href="{{ url_for(url) }}"><b>{{ name }}</b></a></li>
				{% endfor %}
			</ul>
		</table>
	</nav>
	<div>
		{% block content %}
		{% endblock content %}
	</div>
</body>
</html>