{% extends "base.html" %}
{% block title %}Bicycle{% endblock title %}
{% block content %}
<table class=".center" id="onlyonerow">
	<tr>
		<th>Service date</th>
		<td>{{ bicycle["servicedate"] }}</td>
	</tr>
	<tr>
		<th>Model</th>
		<td>{{ bicycle["model"] }}</td>
	</tr>
	<tr>
		<th>Working</th>
		<td>{{ bicycle["state"] }}</td>
	</tr>
</table>
{% if bicycle["state"] == "Yes" %}
<form method="post" action="">
	<input type="hidden" name="id" value="{{ bicycle["id"] }}" />
	<input class="btn" type="submit" value="Report broken bicycle" />
</form>
{% endif %}
{% endblock content %}