{% extends "base.html" %}
{% block title %}Bicycle{% endblock title %}
{% block content %}
<table class="lotsofdata">
    <tr>
        <th>Bicycle number</th>
        <th>Service Date</th>
        <th>Model</th>
        <th>State</th>
        <th>Repair</th>
    </tr>
    {% for bicycle in bicycles %}
    <tr>
        <td>{{ bicycle["bicycleID"] }}</td>
        <td>{{ bicycle["servicedate"] }}</td>
        <td>{{ bicycle["model"] }}</td>
        <td> {% if bicycle["state"] == 1 %}
            <font color="green">Working</font>
            {% else %}
            <font color="red">Broken </font>
            {% endif %}
        </td>
        <td> 
            <form method="post" action="">
                <input type="hidden" name="id" value="{{ bicycle["bicycleID"] }}" />
                <input class="btn" type="submit" value="Repair this bicycle" />
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}