{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
<div id="container">
    <div id="left">
        <table id="onlyonerow">
            <tr><th>Login</th><td>{{ user["userID"] }}</td></tr>
            <tr><th>Expiration date</th>
                <td>{{ user["expiryDate"] }}</td>
                {% if sub is defined %}
                <td style="background-color:transparent"><form id="renew" method="post" action=""><input class="normalbtn" type="submit" value="Renew subscription"/></form></td>
                {% endif %}
            </tr>
            <tr>
                <th>Card number</th>
                <td>{{ user["card"] }}</td>
            </tr>
            {% if sub is defined %}
            <tr>
                <th>First name</th><td>{{ sub["firstname"] }}</td>
            </tr>
            <tr>
                <th>Last name</th><td>{{ sub["lastname"] }}</td>
            </tr>
            <tr>
                <th>Phone number</th><td>{{ sub["phone"] }}</td>
            </tr>
            <tr>
                <th>Address</th><td>{{ sub["addressstreet"] }}</td>
                <td>{{ sub["addressnumber"] }}</td>
            </tr>
            <tr>
                <th>City</th><td>{{ sub["addresscity"] }}</td>
                <td>{{ sub["addresscp"] }}</td>
            </tr>
            <tr>
                <th>Subscription date</th><td>{{ sub["subscribeDate"] }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Total trips</th><td>{{ stats["total_trips"] }}</td>
            </tr>
            <tr>
                <th>Total distance</th><td>{{ stats["total_distance"] }}</td>
            </tr>
            <tr>
                <th>Mean distance per trip</th><td>{{ stats["mean_distance"] }}</td>
            </tr>
        </table>
    </div>
    <div id="right">
        <h3>Last trip</h3>
        <table id="lotsofdata">
            <tr>
                <th>Bicycle number</th>
                <td><a href="/bicycle?id={{ last_trip["bicycle"] }}">{{ last_trip["bicycle"] }}</a></td>
            </tr>
            <tr>
                <th>Start date</th>
                <td>{{ last_trip["startDate"] }}</td>
                <th>Start time</th>
                <td>{{ last_trip["startTime"] }}</td>
                <th>Start station</th>
                <td>{{ last_trip["start"] }}</td>
            </tr>
            <tr>
                <th>End date</th>
                <td>{{ last_trip["endingDate"] }}</td>
                <th>End time</th>
                <td>{{ last_trip["endingTime"] }}</td>
                <th>End station</th>
                <td>{{ last_trip["ending"] }}</td>
            </tr>
            <tr>
                <td style="background-color:transparent"><input id="renew" class="normalbtn" type="submit" value="Show on map"/></td>
            </tr>
        </table>
    </div>
</div>

{% endblock content %}