{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
<table>
	<form method="post" action="">
		<tr>
			<td><label>user</label></td>
			<td><input type="text" name="user" /></td>
		</tr>
		<tr>
			<td><label>password</label></td>
			<td><input type="password" name="password" /></td>
		</tr>
		<tr>
			<td><input type="submit" value="Login" /></td>
		</tr>
		{% if redirect_url is defined %}
		<input type="hidden" value="{{ redirect_url }}" name="redirect_url" />
		{% endif %}
	</form>
		{% if error is defined %}
		<tr>
			<td>{{ error }}</td>
		</tr>
		{% endif %}
</table>
{% endblock content %}