{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
<table class="center" id="login" style="background-color:#fafafa;border-radius: 10px; ">
	<form  method="post" action="" >
		<tr>
			<th>Username</th>
			<td><input type="text" name="user" /></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input type="password" name="password" /></td>
		</tr>
		<tr>
			<td colspan = "2"><input type="submit" value="Login"/></td>
		</tr>
		{% if redirect_url is defined %}
		<input type="hidden" value="{{ redirect_url }}" name="redirect_url" />
		{% endif %}
	</form>
		{% if error is defined %}
		<tr>
			<td>{{ error }}</td>
		</tr>
		{% endif %}
</table>
{% endblock content %}