{% extends "base.html" %}
{% block title %}My trips{% endblock title %}
{% block content %}
<table class="lotsofdata">
    <tr>
        <th>User ID</th>
        <th>Last name</th>
        <th>First name</th>
        <th>Phone number</th>
        <th>Address</th>
        <th>City</th>
        <th>Subscribe date</th>
        <th>Active</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user["userID"] }}</td>
        <td>{{ user["lastname"] }}</td>
        <td>{{ user["firstname"] }}</td>
        <td>{{ user["phone"] }}</td>
        <td>{{ user["addressstreet"] }} {{ user["addressnumber"] }}</td>
        <td>{{ user["addresscity"] }} {{ user["addresscp"] }}</td>
        <td>{{ user["subscribeDate"] }}</td>
        <td>{{ user["active"] }}</td>
        <td><a href="{{ url_for("trips_admin", id=user["userID"]) }}">See trips</a></td>
        <td><a href="{{ url_for("stats_admin", id=user["userID"]) }}">See stats</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}